<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Spring-Boot Thymeleaf</title>
</head>
<body>
<form th:action="@{/submit}" th:object="${person}" method="post">

    <label>Name:</label>
    <input type="text" th:field="*{name}" required minlength="3"/>
    <div th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}"></div>

    <br/>

    <label>Department:</label>
    <select th:field="*{department}" required>
        <option value="">-- bitte wählen --</option>
        <option th:each="d : ${departments}"
                th:value="${d}"
                th:text="${d}">
        </option>
    </select>
    <div th:if="${#fields.hasErrors('department')}"
         th:errors="*{department}"></div>
    <br/>

    <button type="submit">Absenden</button>
</form>

<hr/>

<h2>Angelegte Personen</h2>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Erstellt am</th>
        <th>Aktualisiert am</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}" th:id="${person.id}">
        <td th:text="${person.id}"></td>
        <td class="person-name" contenteditable="true" th:text="${person.name}"></td>

        <td>
            <select class="department-select">
                <option th:each="d : ${departments}"
                        th:value="${d}"
                        th:text="${d}"
                        th:selected="${person.department.type == d}">
                </option>
            </select>
        </td>

        <td th:text="|${#temporals.format(person.createdAt, 'dd.MM.yyyy - HH:mm')} Uhr|"></td>
        <td th:text="|${#temporals.format(person.updatedAt, 'dd.MM.yyyy - HH:mm')} Uhr|"></td>
        <td>
            <button type="button" th:onclick="|updatePerson(${person.id})|">Update</button>
            <button type="button" th:onclick="|deletePerson(${person.id})|">Delete</button>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(persons)}">
        <td colspan="2">Keine Einträge vorhanden</td>
    </tr>
    </tbody>
</table>

<script th:inline="javascript">
    function deletePerson(id) {
        const row = document.getElementById(id);
        const updatedName = row.querySelector('.person-name').innerText;

        if (confirm("User " + updatedName + " wirklich löschen?")) {
            sendDeleteRequest(id);
        }
    }

    function updatePerson(id) {
        console.log(id);
        const row = document.getElementById(id);
        const updatedName = row.querySelector('.person-name').innerText;
        const department = row.querySelector('.department-select').value;
        console.log(department);

        if (confirm(updatedName)) {
            sendRequestUpdatePersonName(id, updatedName, department);
        }
    }

    function sendRequestUpdatePersonName(id, newName, department) {
        const payload = {
            name: newName,
            department: department
        };

        fetch(`/persons/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        }).then(response => {
            if (response.ok) {
                console.log('Person updated successfully');
                window.location.reload();
            } else {
                console.log('Error while updating person: ' + response.status);
            }
        }).catch(error => {
            console.log(error);
            alert('Error while updating person');
        })

    }

    function sendDeleteRequest(id) {
        fetch(`/persons/${id}`, {
            method: 'DELETE',
        }).then(response => {
            if (response.ok) {
                console.log('Person deleted successfully');
                window.location.reload();
            } else {
                console.log('Error while updating person: ' + response.status);
            }
        }).catch(error => {
            console.log(error);
            alert('Error while updating person');
        })

    }
</script>
</body>
</html>